<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="my-blogs-title">
                    <h2>Мои блоги</h2>
                    <a href="/new"><button>Новый блог</button></a>
                </div>
                <%
                    blogs.forEach(item => {
                %>
                <div class="main-blog-card">
                    <div class="blog-image">
                        <img src="<%= item.blogImg %>" alt="">
                    </div>
                    <div class="blog-title">
                        <div class="blog-title-more">
                            <h3><%= item.title %></h3>
                            <div class="card-more">
                                <img src="/images/icons/more.svg" alt="">
                                <P>Еще</P>
                                <div class="more-menu">
                                    <div class="menu-item">
                                        <a href="/edit/<%= item._id %>"><p>Редактировать</p></a>
                                    </div>
                                    <div class="menu-item menu-item-delete">
                                        <a onclick="deleteBlogs('<%= item._id %>', '<%= item.author._id %>')"><p>Удалить</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p><%= item.description %></p>
                    </div>
                    <div class="blog-info">
                        <div class="blog-card-date">
                            <img src="/images/icons/calendar.png" alt="">
                            <p><%= item.blogDate %></p>
                        </div>
                        <div class="blog-card-view">
                            <img src="/images/icons/eye.png" alt="">
                            <p>21</p>
                        </div>
                        <div class="blog-card-comments">
                            <img src="/images/icons/message.svg" alt="">
                            <p>4</p>
                        </div>
                        <div class="blog-card-category">
                            <img src="/images/icons/forums.svg" alt="">
                            <p><%= item.category.name %></p>
                        </div>
                        <div class="blog-card-author">
                            <img src="/images/icons/author.svg" alt="">
                            <p><%= item.author.full_name %></p>
                        </div>
                    </div>
                </div>
                <%
                    })
                %>
            </div>
            <div style="width: calc(30% - 24px);">
                <div class="profile-card" style="width: 100%;">
                    <img src="/images/profile-img.png" alt="">
                    <h4><%= user.full_name %></h4>
                    <p>В основном пишу про веб - разработку, на React & Redux</p>
                    <p>285 постов за все время</p>
                    <a class="edit-btn">Редактировать</a>
                    <a href="/api/signout" class="logout-btn">Выход</a>
                </div>
                <div class="categories" style="width: 100%; margin-top: 30px;">
                    <h3>Категории</h3>
                    <%
                        categories.forEach(category => {
                    %>
                        <a href="/<%= category.key %>"><%= category.name %></a>
                    <% 
                        }) 
                    %>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js" integrity="sha512-zJXKBryKlsiDaWcWQ9fuvy50SG03/Qc5SqfLXxHmk9XiUUbcD9lXYjHDBxLFOuZSU6ULXaJ69bd7blSMEgxXNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/more-menu.js"></script>
    <script src="/js/deleteBlog.js"></script>
</body>
</html>