<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-blog-card" style="border-bottom: none;">
                    <div class="blog-image">
                        <img src="<%= blog.blogImg %>" alt="">
                    </div>
                    <div class="blog-info">
                        <div class="blog-card-date">
                            <img src="/images/icons/calendar.png" alt="">
                            <p><%= blog.blogDate %></p>
                        </div>
                        <div class="blog-card-view">
                            <img src="/images/icons/eye.png" alt="">
                            <p>21</p>
                        </div>
                        <div class="blog-card-comments">
                            <img src="/images/icons/message.svg" alt="">
                            <p>4</p>
                        </div>
                        <div class="blog-card-category">
                            <img src="/images/icons/forums.svg" alt="">
                            <p><%= blog.category.name%></p>
                        </div>
                        <div class="blog-card-author">
                            <img src="/images/icons/author.svg" alt="">
                            <p><%= blog.author.full_name %></p>
                        </div>
                        <%
                            if(user.toRead.includes(blog._id)){
                        %>
                        <div class="blog-card-bookmark" onclick="deleteFromToRead('<%= blog._id %>')">
                            <img src="/images/icons/bookmark-fill.png" alt="" style="width: 24px;">
                            <p>Сохранено</p>
                        </div>
                        <%
                            }else{
                        %>
                        <div class="blog-card-bookmark" onclick="saveToRead('<%= blog._id %>')">
                            <img src="/images/icons/bookmark.png" alt="" style="width: 24px;">
                            <p>Сохранить</p>
                        </div>
                        <%
                            }
                        %>
                    </div>
                    <div class="blog-title">
                        <h3><%= blog.title %></h3>
                        <p><%= blog.description %></p>
                    </div>
                    <div class="blog-comments">
                        <h4 class="blog-comment-title">2 комментария</h4>
                        <div class="blog-comment">
                            <div class="blog-comment-author">
                                <img src="/images/profile-img.png" alt="">
                                <h4>Елнур Сеитжанов</h4>
                            </div>
                            <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                        </div>
                        <div class="blog-comment">
                            <div class="blog-comment-author">
                                <img src="/images/profile-img.png" alt="">
                                <h4>Елнур Сеитжанов</h4>
                            </div>
                            <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.</p>
                        </div>
                        
                        <input type="text" placeholder="Введит текст комментария" class="blog-comment-input">
                        <button type="submit">Отправить</button>
                        <div class="blog-comment-login">
                            <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/login">войдите</a> в аккаунт.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="categories">
                <h3>Категории</h3>
                <%
                    categories.forEach(category => {
                %>
                    <a href="/<%= category.key %>"><%= category.name %></a>
                <% 
                    }) 
                %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>
</html>