<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-blog-card" style="border-bottom: none;">
                    <div class="blog-image">
                        <img src="<%= blog.blogImg %>" alt="">
                    </div>
                    <div class="blog-info">
                        <div class="blog-card-date">
                            <img src="/images/icons/calendar.png" alt="">
                            <p><%= blog.blogDate %></p>
                        </div>
                        <div class="blog-card-view">
                            <img src="/images/icons/eye.png" alt="">
                            <p>21</p>
                        </div>
                        <div class="blog-card-comments">
                            <img src="/images/icons/message.svg" alt="">
                            <p><%= comments.length %></p>
                        </div>
                        <div class="blog-card-category">
                            <img src="/images/icons/forums.svg" alt="">
                            <p><%= blog.category.name%></p>
                        </div>
                        <div class="blog-card-author">
                            <img src="/images/icons/author.svg" alt="">
                            <p><%= blog.author.full_name %></p>
                        </div>
                        <%
                            if(user && user.toRead && user.toRead.includes(blog._id)){
                        %>
                        <div class="blog-card-bookmark" onclick="deleteFromToRead('<%= blog._id %>')">
                            <img src="/images/icons/bookmark-fill.png" alt="" style="width: 24px;">
                            <p>Сохранено</p>
                        </div>
                        <%
                            }else{
                        %>
                        <div class="blog-card-bookmark" onclick="saveToRead('<%= blog._id %>')">
                            <img src="/images/icons/bookmark.png" alt="" style="width: 24px;">
                            <p>Сохранить</p>
                        </div>
                        <%
                            }
                        %>
                    </div>
                    <div class="blog-title">
                        <h3><%= blog.title %></h3>
                        <p><%= blog.description %></p>
                    </div>
                    <div class="blog-comments">
                        <%
                            if(comments.length == 0){
                        %>
                            <h4 class="blog-comment-title">Пока нет комментариев</h4>
                        <%
                            }else if(comments.length == 1){   
                        %>
                            <h4 class="blog-comment-title"><%= comments.length %> комментарий</h4>
                        <%
                            }else if(comments.length >= 2 && comments.length <= 4){
                        %>
                            <h4 class="blog-comment-title"><%= comments.length %> комментария</h4>
                        <%
                            }else{
                        %>
                            <h4 class="blog-comment-title"><%= comments.length %> комментариев</h4>
                        <%
                            }
                        %>
                        

                        <%
                            if(comments){
                                comments.forEach(comment =>{
                        %>
                        <div class="blog-comment">
                            <div class="blog-comment-author">
                                <img src="/images/profile-img.png" alt="">
                                <h4><%= comment.authorId.full_name %></h4>
                            </div>
                            <p><%= comment.text %></p>
                            <p><%= comment.date %></p>
                        </div>   
                        <%
                                })
                            }
                        %>
                        
                        <%
                            if(user && user._id){
                        %>
                        <form onsubmit="sendComment(event)">
                            <textarea id="comment-text" placeholder="Введит текст комментария" class="blog-comment-input" rows="2"></textarea>
                            <input type="hidden" value="<%= user._id %>" id="comment-author">
                            <input type="hidden" value="<%= blog._id %>" id="comment-blog">
                            <button type="submit">Отправить</button>
                        </form>
                        <%
                            }else{
                        %>
                        <div class="blog-comment-login">
                            <p>Чтобы оставить комментарий <a href="/register">зарегистрируйтесь</a>, или <a href="/login">войдите</a> в аккаунт.</p>
                        </div>
                        <%
                            }
                        %>
                    </div>
                </div>
            </div>
            <div class="categories">
                <h3>Категории</h3>
                <%
                    categories.forEach(category => {
                %>
                    <a href="/<%= category.key %>"><%= category.name %></a>
                <% 
                    }) 
                %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>
</html>