<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content main-content-new-blog">
                <form action="/api/blogs/edit" method="post" class="form-new-blog" enctype="multipart/form-data">
                    <h2>Редактировать блог</h2>
                    <fieldset>
                        <input type="hidden" value="<%= blog._id %>" name="id">
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <input type="text" value="<%= blog.title %>" placeholder="Введите заголовок блога" name="title">
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <select name="category" id="">
                            <%
                                categories.forEach(category => {
                                    if(category.id == blog.category){
                            %>
                                    <option value="<%= category._id %>" selected><%= category.name %></option>
                            <%
                                    }else{
                            %>
                                    <option value="<%= category._id %>"><%= category.name %></option>
                            <%
                                    }
                                })
                            %>
                        </select>
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <label class="input-file">
                            <input type="file" name="blogImg">
                            <span>Выберите картинку</span>
                        </label>
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <input type="text" value="<%= blog.description %>" placeholder="Введите описание блога" name="description">
                    </fieldset>
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>