<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-title">
                    <h2>Блоги по программированию</h2>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                </div>
                <%
                    blogs.forEach(item => {
                %>
                    <div class="main-blog-card">
                        <div class="blog-image">
                            <img src="<%= item.blogImg %>" alt="">
                        </div>
                        <div class="blog-title">
                            <a href="/detail/<%= item._id %>"><%= item.title %></a>
                            <p><%= item.description %></p>
                        </div>
                        <div class="blog-info">
                            <div class="blog-card-date">
                                <img src="/images/icons/calendar.png" alt="">
                                <p><%= item.blogDate %></p>
                            </div>
                            <div class="blog-card-view">
                                <img src="/images/icons/eye.png" alt="">
                                <p>21</p>
                            </div>
                            <div class="blog-card-comments">
                                <img src="/images/icons/message.svg" alt="">
                                <p>4</p>
                            </div>
                            <div class="blog-card-category">
                                <img src="/images/icons/forums.svg" alt="">
                                <p><%= item.category.name %></p>
                            </div>
                            <div class="blog-card-author">
                                <img src="/images/icons/author.svg" alt="">
                                <p><%= item.author.full_name %></p>
                            </div>
                            <%
                                if(user.toRead && user.toRead.includes(item._id)){
                            %>
                            <div class="blog-card-bookmark" onclick="deleteFromToRead('<%= item._id %>')">
                                <img src="/images/icons/bookmark-fill.png" alt="" style="width: 24px;">
                                <p>Сохранено</p>
                            </div>
                            <%
                                }else{
                            %>
                            <div class="blog-card-bookmark" onclick="saveToRead('<%= item._id %>')">
                                <img src="/images/icons/bookmark.png" alt="" style="width: 24px;">
                                <p>Сохранить</p>
                            </div>
                            <%
                                }
                            %>
                        </div>
                    </div>
                <%
                    })
                %>
                <div class="pages">
                    <%
                        let localsString = ''
                        if(locals.category){
                            localsString = `category=${locals.category}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                        for(let i = 0; i < pages; i++){
                    %>
                            <a href="?<%= localsString %>page=<%= i %>"><%= i + 1 %></a>
                    <%
                        }
                    %>
                </div>

            </div>
            <div class="categories">
                <h3>Категории</h3>
                <%
                    categories.forEach(category => {
                %>
                    <a href="?category=<%= category.key %>"><%= category.name %></a>
                <% 
                    }) 
                %>
            </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>
</html>