<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="my-blogs-title">
                    <h2>Мои блоги</h2>
                </div>
                <%
                    if(user.toRead.length > 0){
                        user.toRead.forEach(blog => {
                %>
                <div class="main-blog-card">
                    <div class="blog-image">
                        <img src="<%= blog.blogImg %>" alt="">
                    </div>
                    <div class="blog-title">
                        <a href="/detail/<%= blog._id %>"><%= blog.title %></a>
                                               
                        <p><%= blog.description %></p>
                    </div>
                    <div class="blog-info">
                        <div class="blog-card-date">
                            <img src="/images/icons/calendar.png" alt="">
                            <p><%= blog.blogDate %></p>
                        </div>
                        <div class="blog-card-view">
                            <img src="/images/icons/eye.png" alt="">
                            <p>21</p>
                        </div>
                        <div class="blog-card-comments">
                            <img src="/images/icons/message.svg" alt="">
                            <p>4</p>
                        </div>
                        <div class="blog-card-category">
                            <img src="/images/icons/forums.svg" alt="">
                            <p><%= blog.category.name %></p>
                        </div>
                        <div class="blog-card-author">
                            <img src="/images/icons/author.svg" alt="">
                            <p><%= blog.author.full_name %></p>
                        </div>
                        <div class="blog-card-bookmark" onclick="deleteFromToRead('<%= blog._id %>')">
                            <img src="/images/icons/bookmark-fill.png" alt="" style="width: 24px;">
                            <p>Сохранено</p>
                        </div>
                    </div>
                </div>
                <%
                        })
                    }
                %>
            </div>
            <div style="width: calc(30% - 24px);">
                <div class="profile-card" style="width: 100%;">
                    <img src="/images/profile-img.png" alt="">
                    <h4><%= user.full_name %></h4>
                    <p>В основном пишу про веб - разработку, на React & Redux</p>
                    <p>285 постов за все время</p>
                    <%
                        if(loginUser.id == user.id){
                    %>
                        <a class="edit-btn">Редактировать</a>
                        <a href="/api/signout" class="logout-btn">Выход</a>
                    <%
                        }
                    %>
                </div>
                <div class="categories" style="width: 100%; margin-top: 30px;">
                    <h3>Категории</h3>
                    <%
                        categories.forEach(category => {
                    %>
                        <a href="/<%= category.key %>"><%= category.name %></a>
                    <% 
                        }) 
                    %>
                </div>
            </div>
            
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>
</html>